<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>MyServlet.GenericServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllItems</servlet-name>
        <servlet-class>Backend.GetAllItems</servlet-class>
    </servlet>
    <!--   DATABASE conncetion demo        -->
    <servlet>
        <servlet-name>SaveItems</servlet-name>
        <servlet-class>Backend.SaveItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>Backend.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>Backend.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>Backend.DisplayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSession</servlet-name>
        <servlet-class>ForSession.CreateSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSession</servlet-name>
        <servlet-class>ForSession.GetSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneItem</servlet-name>
        <servlet-class>Backend.GetOneItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>Backend.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>Backend.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUser</servlet-name>
        <servlet-class>Backend.ActivateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendUser</servlet-name>
        <servlet-class>Backend.SuspendUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Backend.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemSelectBox</servlet-name>
        <servlet-class>Backend.GetItemSelectBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePurchase</servlet-name>
        <servlet-class>Backend.SavePurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>Backend.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>Backend.CookieTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>Backend.ViewItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSession</servlet-name>
        <url-pattern>/CreateSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSession</servlet-name>
        <url-pattern>/GetSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneItem</servlet-name>
        <url-pattern>/GetOneItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/GenericServletDemo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>MyServlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newone</servlet-name>
        <servlet-class>MyServlet.HttpServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveItems</servlet-name>
        <url-pattern>/SaveItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllItems</servlet-name>
        <url-pattern>/GetAllItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUser</servlet-name>
        <url-pattern>/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendUser</servlet-name>
        <url-pattern>/SuspendUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemSelectBox</servlet-name>
        <url-pattern>/GetItemSelectBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePurchase</servlet-name>
        <url-pattern>/SavePurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
